<div>  
    Você acaba de reservar uma miniatura Minion:
    <ul>
        <li>Nome: <%= @minion.nome %></li>
        <li>Descrição: <%= @minion.descricao %></li>
        <li>Preço: <%= @minion.preco %></li>
    </ul>
</div>
