<table class="table table-bordered table-hover">
    <thrad>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2">
         </tr>
    </thrad>   
    <tbody>
        <%= render @minions %>
    </tbody>    
</table>